n8n files/euroleads-send-email-smtp.json
{
  "name": "EuroLeads - Send Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "euroleads-send-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1f0a1b1a-0001-4a1a-9a1a-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "euroleads-send-email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.body.brochureUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1f0a1b1a-0002-4a1a-9a1a-000000000002",
      "name": "Has Brochure?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.body.brochureUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "1f0a1b1a-0003-4a1a-9a1a-000000000003",
      "name": "Download Brochure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "YOUR_SENDING_EMAIL@gmail.com",
        "toEmail": "={{ $('Webhook').item.json.body.to }}",
        "subject": "={{ $('Webhook').item.json.body.subject }}",
        "text": "={{ $('Webhook').item.json.body.body }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data"
              }
            ]
          }
        }
      },
      "id": "1f0a1b1a-0004-4a1a-9a1a-000000000004",
      "name": "Send Email (with brochure)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        900,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "YOUR_SENDING_EMAIL@gmail.com",
        "toEmail": "={{ $('Webhook').item.json.body.to }}",
        "subject": "={{ $('Webhook').item.json.body.subject }}",
        "text": "={{ $('Webhook').item.json.body.body }}",
        "options": {}
      },
      "id": "1f0a1b1a-0005-4a1a-9a1a-000000000005",
      "name": "Send Email (no brochure)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        680,
        420
      ],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"leadId\": $('Webhook').item.json.body.leadId, \"to\": $('Webhook').item.json.body.to } }}",
        "options": {}
      },
      "id": "1f0a1b1a-0006-4a1a-9a1a-000000000006",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 500,
        "responseBody": "={{ { \"success\": false, \"error\": $json.error?.message || \"Email send failed\" } }}",
        "options": {}
      },
      "id": "1f0a1b1a-0007-4a1a-9a1a-000000000007",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        900,
        560
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Has Brochure?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Brochure?": {
      "main": [
        [
          {
            "node": "Download Brochure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email (no brochure)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Brochure": {
      "main": [
        [
          {
            "node": "Send Email (with brochure)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (with brochure)": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (no brochure)": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}